{% extends 'dashboard_nav.html' %}
{% load static %}

{% block content %}



<!-- Content -->
<div id="content" class="py-4">
    <div class="container">
        <div class="row">

            {% include '_leftbar.html' %}

            <!-- Middle Panel  -->
            <div class="col-lg-9  profile-area">
                <h2 class="admin-heading">
                    <p>Order Card</p>
                    <span>Use this form to order a Payoneer Prepaid MasterCard® that will reflect your currency
                        balance. Use this card at ATMs, in stores, or online anywhere MasterCard® is accepted.
                        For additional information, please refer to our FAQs.</span>
                </h2>
                <!-- Credit or Debit Cards  -->
                <div class="infoItems bg-offwhite">
                    <div class="row">
                        <div class="col-12">
                            <form id="order-form" method="post">
                                {% csrf_token %}
                                
                                {% if form.errors %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong>Warning!</strong> {{form.errors}}.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                {% endif %}
                                    
                                <div class="edit-content">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="{{ form.bank_name.label}}">{{ form.bank_name.label}}</label>
                                            {{ form.bank_name}}
                                        </div>


                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label
                                                    for="{{ form.account_number.label}}">{{ form.account_number.label}}</label>

                                                {{ form.account_number }}
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="{{ form.pin.label }}">{{ form.pin.label }}</label>
                                                {{ form.pin }}
                                            </div>
                                        </div>



                                    </div>

                                    <br>
                                    <button class="btn btn-default" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <!-- Middle Panel End -->

    </div>
</div>
</div>
<!-- Content end -->

{% endblock content %}