{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    
    <!-- Banner section start -->
    <section class="banner v7 v8">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12">
                    <div class="ban-content">
                        <h1>The Secure, easiest and fastest transfer money.</h1>
                        
                        {% comment %} <a href="https://vimeo.com/191947042" class="btn btn-outline btn-round icon-left"
                            data-fancybox="">
                            <span class="bh"></span> <span><i class="fas fa-play"></i> Learn more</span>
                        </a> {% endcomment %}
                        <a href="#" class="btn btn-default btn-round icon-left"> <span class="bh"></span> <span>Discover
                                Now</span> </a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    {% comment %} <div class="form-tab">
                        <ul class="nav nav-tabs">
                            <li><a class="active" data-toggle="tab" href="#send-money">Send Moneyssss</a></li>
                            <li><a data-toggle="tab" href="#receive-money">Receive Money</a></li>
                        </ul>
                        <div class="tab-content currency-form">
                            <div id="send-money" class="tab-pane fade in active show">
                                <form class="" action="#">
                                    <div class="form-field">
                                        <label>send amount</label>
                                        <div class="join-field">
                                            <div class="input__add">
                                                <span>$</span>
                                                <input type="number" name="send_amount" placeholder="1,000.00">
                                            </div>
                                            <div class="curr-select">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <select id="youSendCurrency" data-style="custom-select"
                                                            data-container="body" data-live-search="true"
                                                            class="selectpicker" required="">
                                                            <optgroup label="Popular Currency">
                                                                <option data-icon="currency-flag currency-flag-usd mr-1"
                                                                    data-subtext="United States dollar"
                                                                    selected="selected" value="">
                                                                    USD
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-aud mr-1"
                                                                    data-subtext="Australian dollar" value="">AUD
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-eur mr-1"
                                                                    data-subtext="Euro" value="">EUR</option>
                                                            </optgroup>
                                                            <option value="" data-divider="true">divider</option>
                                                            <optgroup label="Other Currency">
                                                                <option data-icon="currency-flag currency-flag-aed mr-1"
                                                                    data-subtext="United Arab Emirates dirham" value="">
                                                                    AED
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-ars mr-1"
                                                                    data-subtext="Argentine peso" value="">ARS</option>
                                                                <option data-icon="currency-flag currency-flag-aud mr-1"
                                                                    data-subtext="Australian dollar" value="">AUD
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-bdt mr-1"
                                                                    data-subtext="Bangladeshi taka" value="">BDT
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-bgn mr-1"
                                                                    data-subtext="Bulgarian lev" value="">BGN</option>
                                                                <option data-icon="currency-flag currency-flag-brl mr-1"
                                                                    data-subtext="Brazilian real" value="">BRL</option>
                                                                <option data-icon="currency-flag currency-flag-cad mr-1"
                                                                    data-subtext="Canadian dollar" value="">CAD</option>
                                                                <option data-icon="currency-flag currency-flag-chf mr-1"
                                                                    data-subtext="Swiss franc" value="">CHF</option>
                                                                <option data-icon="currency-flag currency-flag-clp mr-1"
                                                                    data-subtext="Chilean peso" value="">CLP</option>
                                                                <option data-icon="currency-flag currency-flag-cny mr-1"
                                                                    data-subtext="Chinese yuan" value="">CNY</option>
                                                                <option data-icon="currency-flag currency-flag-czk mr-1"
                                                                    data-subtext="Czech koruna" value="">CZK</option>
                                                                <option data-icon="currency-flag currency-flag-dkk mr-1"
                                                                    data-subtext="Danish krone" value="">DKK</option>
                                                                <option data-icon="currency-flag currency-flag-egp mr-1"
                                                                    data-subtext="Egyptian pound" value="">EGP</option>
                                                                <option data-icon="currency-flag currency-flag-eur mr-1"
                                                                    data-subtext="Euro" value="">EUR</option>
                                                                <option data-icon="currency-flag currency-flag-gbp mr-1"
                                                                    data-subtext="British pound" value="">GBP</option>
                                                                <option data-icon="currency-flag currency-flag-gel mr-1"
                                                                    data-subtext="Georgian lari" value="">GEL</option>
                                                                <option data-icon="currency-flag currency-flag-ghs mr-1"
                                                                    data-subtext="Ghanaian cedi" value="">GHS</option>
                                                                <option data-icon="currency-flag currency-flag-hkd mr-1"
                                                                    data-subtext="Hong Kong dollar" value="">HKD
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-hrk mr-1"
                                                                    data-subtext="Croatian kuna" value="">HRK</option>
                                                                <option data-icon="currency-flag currency-flag-huf mr-1"
                                                                    data-subtext="Hungarian forint" value="">HUF
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-idr mr-1"
                                                                    data-subtext="Indonesian rupiah" value="">IDR
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-ils mr-1"
                                                                    data-subtext="Israeli shekel" value="">ILS</option>
                                                                <option data-icon="currency-flag currency-flag-inr mr-1"
                                                                    data-subtext="Indian rupee" value="">INR</option>
                                                                <option data-icon="currency-flag currency-flag-jpy mr-1"
                                                                    data-subtext="Japanese yen" value="">JPY</option>
                                                                <option data-icon="currency-flag currency-flag-kes mr-1"
                                                                    data-subtext="Kenyan shilling" value="">KES</option>
                                                                <option data-icon="currency-flag currency-flag-krw mr-1"
                                                                    data-subtext="South Korean won" value="">KRW
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-lkr mr-1"
                                                                    data-subtext="Sri Lankan rupee" value="">LKR
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-mad mr-1"
                                                                    data-subtext="Moroccan dirham" value="">MAD</option>
                                                                <option data-icon="currency-flag currency-flag-mxn mr-1"
                                                                    data-subtext="Mexican peso" value="">MXN</option>
                                                                <option data-icon="currency-flag currency-flag-myr mr-1"
                                                                    data-subtext="Malaysian ringgit" value="">MYR
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-ngn mr-1"
                                                                    data-subtext="Nigerian naira" value="">NGN</option>
                                                                <option data-icon="currency-flag currency-flag-nok mr-1"
                                                                    data-subtext="Norwegian krone" value="">NOK</option>
                                                                <option data-icon="currency-flag currency-flag-npr mr-1"
                                                                    data-subtext="Nepalese rupee" value="">NPR</option>
                                                                <option data-icon="currency-flag currency-flag-nzd mr-1"
                                                                    data-subtext="New Zealand dollar" value="">NZD
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-pen mr-1"
                                                                    data-subtext="Peruvian nuevo sol" value="">PEN
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-php mr-1"
                                                                    data-subtext="Philippine peso" value="">PHP</option>
                                                                <option data-icon="currency-flag currency-flag-pkr mr-1"
                                                                    data-subtext="Pakistani rupee" value="">PKR</option>
                                                                <option data-icon="currency-flag currency-flag-pln mr-1"
                                                                    data-subtext="Polish złoty" value="">PLN</option>
                                                                <option data-icon="currency-flag currency-flag-ron mr-1"
                                                                    data-subtext="Romanian leu" value="">RON</option>
                                                                <option data-icon="currency-flag currency-flag-rub mr-1"
                                                                    data-subtext="Russian rouble" value="">RUB</option>
                                                                <option data-icon="currency-flag currency-flag-sek mr-1"
                                                                    data-subtext="Swedish krona" value="">SEK</option>
                                                                <option data-icon="currency-flag currency-flag-sgd mr-1"
                                                                    data-subtext="Singapore dollar" value="">SGD
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-thb mr-1"
                                                                    data-subtext="Thai baht" value="">THB</option>
                                                                <option data-icon="currency-flag currency-flag-try mr-1"
                                                                    data-subtext="Turkish lira" value="">TRY</option>
                                                                <option data-icon="currency-flag currency-flag-uah mr-1"
                                                                    data-subtext="Ukrainian hryvnia" value="">UAH
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-ugx mr-1"
                                                                    data-subtext="Ugandan shilling" value="">UGX
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-vnd mr-1"
                                                                    data-subtext="Vietnamese dong" value="">VND</option>
                                                                <option data-icon="currency-flag currency-flag-zar mr-1"
                                                                    data-subtext="South African rand" value="">ZAR
                                                                </option>
                                                            </optgroup>
                                                        </select>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- <div class="curr-select">
                                                    <span class="selected"><img src="{% static 'images/flags/usa.png' %}" alt="" />usd &nbsp;<i class="fas fa-caret-down"></i></span>
                                                    <ul>
                                                        <li>
                                                            <a href="#"><img src="{% static 'images/flags/australia.png' %}" alt="" />aud</a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><img src="{% static 'images/flags/canada.png' %}" alt="" />cad</a>
                                                        </li>
                                                    </ul>
                                                </div> -->
                                        </div>
                                    </div>
                                    <div class="currency-text v2">
                                        <span><strong>75.5</strong> Exchange Rate</span>
                                        <span><strong>$4.50</strong> Transition Fees</span>
                                    </div>
                                    <div class="form-field">
                                        <label>Receive amount</label>
                                        <div class="join-field">
                                            <div class="input__add">
                                                <span>$</span>
                                                <input type="number" name="send_amount" placeholder="1,000.00">
                                            </div>
                                            <div class="curr-select">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <select id="youSendCurrency" data-style="custom-select"
                                                            data-container="body" data-live-search="true"
                                                            class="selectpicker" required="">
                                                            <optgroup label="Popular Currency">
                                                                <option data-icon="currency-flag currency-flag-usd mr-1"
                                                                    data-subtext="United States dollar"
                                                                    selected="selected" value="">
                                                                    USD
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-aud mr-1"
                                                                    data-subtext="Australian dollar" value="">AUD
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-eur mr-1"
                                                                    data-subtext="Euro" value="">EUR</option>
                                                            </optgroup>
                                                            <option value="" data-divider="true">divider</option>
                                                            <optgroup label="Other Currency">
                                                                <option data-icon="currency-flag currency-flag-aed mr-1"
                                                                    data-subtext="United Arab Emirates dirham" value="">
                                                                    AED
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-ars mr-1"
                                                                    data-subtext="Argentine peso" value="">ARS</option>
                                                                <option data-icon="currency-flag currency-flag-aud mr-1"
                                                                    data-subtext="Australian dollar" value="">AUD
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-bdt mr-1"
                                                                    data-subtext="Bangladeshi taka" value="">BDT
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-bgn mr-1"
                                                                    data-subtext="Bulgarian lev" value="">BGN</option>
                                                                <option data-icon="currency-flag currency-flag-brl mr-1"
                                                                    data-subtext="Brazilian real" value="">BRL</option>
                                                                <option data-icon="currency-flag currency-flag-cad mr-1"
                                                                    data-subtext="Canadian dollar" value="">CAD</option>
                                                                <option data-icon="currency-flag currency-flag-chf mr-1"
                                                                    data-subtext="Swiss franc" value="">CHF</option>
                                                                <option data-icon="currency-flag currency-flag-clp mr-1"
                                                                    data-subtext="Chilean peso" value="">CLP</option>
                                                                <option data-icon="currency-flag currency-flag-cny mr-1"
                                                                    data-subtext="Chinese yuan" value="">CNY</option>
                                                                <option data-icon="currency-flag currency-flag-czk mr-1"
                                                                    data-subtext="Czech koruna" value="">CZK</option>
                                                                <option data-icon="currency-flag currency-flag-dkk mr-1"
                                                                    data-subtext="Danish krone" value="">DKK</option>
                                                                <option data-icon="currency-flag currency-flag-egp mr-1"
                                                                    data-subtext="Egyptian pound" value="">EGP</option>
                                                                <option data-icon="currency-flag currency-flag-eur mr-1"
                                                                    data-subtext="Euro" value="">EUR</option>
                                                                <option data-icon="currency-flag currency-flag-gbp mr-1"
                                                                    data-subtext="British pound" value="">GBP</option>
                                                                <option data-icon="currency-flag currency-flag-gel mr-1"
                                                                    data-subtext="Georgian lari" value="">GEL</option>
                                                                <option data-icon="currency-flag currency-flag-ghs mr-1"
                                                                    data-subtext="Ghanaian cedi" value="">GHS</option>
                                                                <option data-icon="currency-flag currency-flag-hkd mr-1"
                                                                    data-subtext="Hong Kong dollar" value="">HKD
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-hrk mr-1"
                                                                    data-subtext="Croatian kuna" value="">HRK</option>
                                                                <option data-icon="currency-flag currency-flag-huf mr-1"
                                                                    data-subtext="Hungarian forint" value="">HUF
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-idr mr-1"
                                                                    data-subtext="Indonesian rupiah" value="">IDR
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-ils mr-1"
                                                                    data-subtext="Israeli shekel" value="">ILS</option>
                                                                <option data-icon="currency-flag currency-flag-inr mr-1"
                                                                    data-subtext="Indian rupee" value="">INR</option>
                                                                <option data-icon="currency-flag currency-flag-jpy mr-1"
                                                                    data-subtext="Japanese yen" value="">JPY</option>
                                                                <option data-icon="currency-flag currency-flag-kes mr-1"
                                                                    data-subtext="Kenyan shilling" value="">KES</option>
                                                                <option data-icon="currency-flag currency-flag-krw mr-1"
                                                                    data-subtext="South Korean won" value="">KRW
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-lkr mr-1"
                                                                    data-subtext="Sri Lankan rupee" value="">LKR
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-mad mr-1"
                                                                    data-subtext="Moroccan dirham" value="">MAD</option>
                                                                <option data-icon="currency-flag currency-flag-mxn mr-1"
                                                                    data-subtext="Mexican peso" value="">MXN</option>
                                                                <option data-icon="currency-flag currency-flag-myr mr-1"
                                                                    data-subtext="Malaysian ringgit" value="">MYR
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-ngn mr-1"
                                                                    data-subtext="Nigerian naira" value="">NGN</option>
                                                                <option data-icon="currency-flag currency-flag-nok mr-1"
                                                                    data-subtext="Norwegian krone" value="">NOK</option>
                                                                <option data-icon="currency-flag currency-flag-npr mr-1"
                                                                    data-subtext="Nepalese rupee" value="">NPR</option>
                                                                <option data-icon="currency-flag currency-flag-nzd mr-1"
                                                                    data-subtext="New Zealand dollar" value="">NZD
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-pen mr-1"
                                                                    data-subtext="Peruvian nuevo sol" value="">PEN
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-php mr-1"
                                                                    data-subtext="Philippine peso" value="">PHP</option>
                                                                <option data-icon="currency-flag currency-flag-pkr mr-1"
                                                                    data-subtext="Pakistani rupee" value="">PKR</option>
                                                                <option data-icon="currency-flag currency-flag-pln mr-1"
                                                                    data-subtext="Polish złoty" value="">PLN</option>
                                                                <option data-icon="currency-flag currency-flag-ron mr-1"
                                                                    data-subtext="Romanian leu" value="">RON</option>
                                                                <option data-icon="currency-flag currency-flag-rub mr-1"
                                                                    data-subtext="Russian rouble" value="">RUB</option>
                                                                <option data-icon="currency-flag currency-flag-sek mr-1"
                                                                    data-subtext="Swedish krona" value="">SEK</option>
                                                                <option data-icon="currency-flag currency-flag-sgd mr-1"
                                                                    data-subtext="Singapore dollar" value="">SGD
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-thb mr-1"
                                                                    data-subtext="Thai baht" value="">THB</option>
                                                                <option data-icon="currency-flag currency-flag-try mr-1"
                                                                    data-subtext="Turkish lira" value="">TRY</option>
                                                                <option data-icon="currency-flag currency-flag-uah mr-1"
                                                                    data-subtext="Ukrainian hryvnia" value="">UAH
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-ugx mr-1"
                                                                    data-subtext="Ugandan shilling" value="">UGX
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-vnd mr-1"
                                                                    data-subtext="Vietnamese dong" value="">VND</option>
                                                                <option data-icon="currency-flag currency-flag-zar mr-1"
                                                                    data-subtext="South African rand" value="">ZAR
                                                                </option>
                                                            </optgroup>
                                                        </select>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="join-field">
                                                <input type="text" name="send_amount" placeholder="$1,000.00" />
                                                <div class="curr-select">
                                                    <span class="selected"><img src="{% static 'images/flags/australia.png' %}" alt="" />aud &nbsp;<i class="fas fa-caret-down"></i></span>
                                                    <ul>
                                                        <li>
                                                            <a href="#"><img src="{% static 'images/flags/australia.png' %}" alt="" />aud</a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><img src="{% static 'images/flags/usa.png' %}" alt="" />usa</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div> -->
                                    </div>
                                    <button class="btn btn-block btn-filled form-btn bg-gradient">
                                        <span class="bh"></span> <span>Continue Transition <i
                                                class="fas fa-arrow-right"></i></span>
                                    </button>
                                    <span class="accept-terms">By clicking continue, i am agree with <a href="#">Terms
                                            &amp; Policy</a></span>
                                </form>
                            </div>

                            <div id="receive-money" class="tab-pane fade">
                                <form class="" action="#">
                                    <div class="form-field">
                                        <label>send amount</label>
                                        <div class="join-field">
                                            <div class="input__add">
                                                <span>$</span>
                                                <input type="number" name="send_amount" placeholder="1,000.00">
                                            </div>
                                            <div class="curr-select">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <select id="youSendCurrency" data-style="custom-select"
                                                            data-container="body" data-live-search="true"
                                                            class="selectpicker" required="">
                                                            <optgroup label="Popular Currency">
                                                                <option data-icon="currency-flag currency-flag-usd mr-1"
                                                                    data-subtext="United States dollar"
                                                                    selected="selected" value="">
                                                                    USD
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-aud mr-1"
                                                                    data-subtext="Australian dollar" value="">AUD
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-eur mr-1"
                                                                    data-subtext="Euro" value="">EUR</option>
                                                            </optgroup>
                                                            <option value="" data-divider="true">divider</option>
                                                            <optgroup label="Other Currency">
                                                                <option data-icon="currency-flag currency-flag-aed mr-1"
                                                                    data-subtext="United Arab Emirates dirham" value="">
                                                                    AED
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-ars mr-1"
                                                                    data-subtext="Argentine peso" value="">ARS</option>
                                                                <option data-icon="currency-flag currency-flag-aud mr-1"
                                                                    data-subtext="Australian dollar" value="">AUD
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-bdt mr-1"
                                                                    data-subtext="Bangladeshi taka" value="">BDT
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-bgn mr-1"
                                                                    data-subtext="Bulgarian lev" value="">BGN</option>
                                                                <option data-icon="currency-flag currency-flag-brl mr-1"
                                                                    data-subtext="Brazilian real" value="">BRL</option>
                                                                <option data-icon="currency-flag currency-flag-cad mr-1"
                                                                    data-subtext="Canadian dollar" value="">CAD</option>
                                                                <option data-icon="currency-flag currency-flag-chf mr-1"
                                                                    data-subtext="Swiss franc" value="">CHF</option>
                                                                <option data-icon="currency-flag currency-flag-clp mr-1"
                                                                    data-subtext="Chilean peso" value="">CLP</option>
                                                                <option data-icon="currency-flag currency-flag-cny mr-1"
                                                                    data-subtext="Chinese yuan" value="">CNY</option>
                                                                <option data-icon="currency-flag currency-flag-czk mr-1"
                                                                    data-subtext="Czech koruna" value="">CZK</option>
                                                                <option data-icon="currency-flag currency-flag-dkk mr-1"
                                                                    data-subtext="Danish krone" value="">DKK</option>
                                                                <option data-icon="currency-flag currency-flag-egp mr-1"
                                                                    data-subtext="Egyptian pound" value="">EGP</option>
                                                                <option data-icon="currency-flag currency-flag-eur mr-1"
                                                                    data-subtext="Euro" value="">EUR</option>
                                                                <option data-icon="currency-flag currency-flag-gbp mr-1"
                                                                    data-subtext="British pound" value="">GBP</option>
                                                                <option data-icon="currency-flag currency-flag-gel mr-1"
                                                                    data-subtext="Georgian lari" value="">GEL</option>
                                                                <option data-icon="currency-flag currency-flag-ghs mr-1"
                                                                    data-subtext="Ghanaian cedi" value="">GHS</option>
                                                                <option data-icon="currency-flag currency-flag-hkd mr-1"
                                                                    data-subtext="Hong Kong dollar" value="">HKD
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-hrk mr-1"
                                                                    data-subtext="Croatian kuna" value="">HRK</option>
                                                                <option data-icon="currency-flag currency-flag-huf mr-1"
                                                                    data-subtext="Hungarian forint" value="">HUF
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-idr mr-1"
                                                                    data-subtext="Indonesian rupiah" value="">IDR
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-ils mr-1"
                                                                    data-subtext="Israeli shekel" value="">ILS</option>
                                                                <option data-icon="currency-flag currency-flag-inr mr-1"
                                                                    data-subtext="Indian rupee" value="">INR</option>
                                                                <option data-icon="currency-flag currency-flag-jpy mr-1"
                                                                    data-subtext="Japanese yen" value="">JPY</option>
                                                                <option data-icon="currency-flag currency-flag-kes mr-1"
                                                                    data-subtext="Kenyan shilling" value="">KES</option>
                                                                <option data-icon="currency-flag currency-flag-krw mr-1"
                                                                    data-subtext="South Korean won" value="">KRW
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-lkr mr-1"
                                                                    data-subtext="Sri Lankan rupee" value="">LKR
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-mad mr-1"
                                                                    data-subtext="Moroccan dirham" value="">MAD</option>
                                                                <option data-icon="currency-flag currency-flag-mxn mr-1"
                                                                    data-subtext="Mexican peso" value="">MXN</option>
                                                                <option data-icon="currency-flag currency-flag-myr mr-1"
                                                                    data-subtext="Malaysian ringgit" value="">MYR
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-ngn mr-1"
                                                                    data-subtext="Nigerian naira" value="">NGN</option>
                                                                <option data-icon="currency-flag currency-flag-nok mr-1"
                                                                    data-subtext="Norwegian krone" value="">NOK</option>
                                                                <option data-icon="currency-flag currency-flag-npr mr-1"
                                                                    data-subtext="Nepalese rupee" value="">NPR</option>
                                                                <option data-icon="currency-flag currency-flag-nzd mr-1"
                                                                    data-subtext="New Zealand dollar" value="">NZD
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-pen mr-1"
                                                                    data-subtext="Peruvian nuevo sol" value="">PEN
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-php mr-1"
                                                                    data-subtext="Philippine peso" value="">PHP</option>
                                                                <option data-icon="currency-flag currency-flag-pkr mr-1"
                                                                    data-subtext="Pakistani rupee" value="">PKR</option>
                                                                <option data-icon="currency-flag currency-flag-pln mr-1"
                                                                    data-subtext="Polish złoty" value="">PLN</option>
                                                                <option data-icon="currency-flag currency-flag-ron mr-1"
                                                                    data-subtext="Romanian leu" value="">RON</option>
                                                                <option data-icon="currency-flag currency-flag-rub mr-1"
                                                                    data-subtext="Russian rouble" value="">RUB</option>
                                                                <option data-icon="currency-flag currency-flag-sek mr-1"
                                                                    data-subtext="Swedish krona" value="">SEK</option>
                                                                <option data-icon="currency-flag currency-flag-sgd mr-1"
                                                                    data-subtext="Singapore dollar" value="">SGD
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-thb mr-1"
                                                                    data-subtext="Thai baht" value="">THB</option>
                                                                <option data-icon="currency-flag currency-flag-try mr-1"
                                                                    data-subtext="Turkish lira" value="">TRY</option>
                                                                <option data-icon="currency-flag currency-flag-uah mr-1"
                                                                    data-subtext="Ukrainian hryvnia" value="">UAH
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-ugx mr-1"
                                                                    data-subtext="Ugandan shilling" value="">UGX
                                                                </option>
                                                                <option data-icon="currency-flag currency-flag-vnd mr-1"
                                                                    data-subtext="Vietnamese dong" value="">VND</option>
                                                                <option data-icon="currency-flag currency-flag-zar mr-1"
                                                                    data-subtext="South African rand" value="">ZAR
                                                                </option>
                                                            </optgroup>
                                                        </select>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="join-field">
                                                <input type="text" name="send_amount" placeholder="$1,000.00" />
                                                <div class="curr-select">
                                                    <span class="selected"><img src="{% static 'images/flags/usa.png' %}" alt="" />usd &nbsp;<i class="fas fa-caret-down"></i></span>
                                                    <ul>
                                                        <li>
                                                            <a href="#"><img src="{% static 'images/flags/australia.png' %}" alt="" />aud</a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><img src="{% static 'images/flags/canada.png' %}" alt="" />cad</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div> -->
                                    </div>
                                    <div class="form-field">
                                        <label for="rcv_country">Receiver Country</label>
                                        <select id="rcv_country" name="rcv_country">
                                            <option>Select Country</option>
                                            <option value="usa">USA</option>
                                            <option value="canada">Canada</option>
                                            <option value="australia">Australia</option>
                                        </select>
                                    </div>
                                    <div class="form-field">
                                        <label for="del_type">Delivery Type</label>
                                        <select id="del_type" name="del_type">
                                            <option>Choose Delivery Type</option>
                                            <option value="imt">Immediate Transfer</option>
                                            <option value="rtt">Real Time Transfer</option>
                                            <option value="eft">Electronic Transfer</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-block btn-filled form-btn bg-gradient">
                                        <span class="bh"></span> <span>Continue Transition <i
                                                class="fas fa-arrow-right"></i></span>
                                    </button>
                                    <span class="accept-terms">By clicking continue, i am agree with <a href="#">Terms
                                            &amp; Policy</a></span>
                                </form>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </section>
    <!-- Banner section end -->

    <!-- Easy steps section start -->
    <section class="easy-steps" style="background-image: url(images/shape/shape-1.png); background-repeat: no-repeat">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 m-auto">
                    <div class="sec-heading">
                        <h2 class="sec-title">Easy and Fast Way to Send Money</h2>
                        <p class="sec-subtitle">
                            This is the best platform to make all kind of online transactions
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-12 m-auto">
                    <ul class="steps v2">
                        <li><span>1</span> Select Country</li>
                        <li><span>2</span> Choose Service</li>
                        <li><span>3</span> Input Information</li>
                        <li><span>4</span> Confirm and Send</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Easy steps section end -->

    {% endblock content %}