{% extends 'dashboard_nav.html' %}

{% load static %}

{% block content %}
    

    
          
           

            <!-- Content -->
            <div id="content" class="py-4">
                <div class="container">
                    <div class="row">
                        <!-- Left sidebar -->
                        {% include '_leftbar.html' %}
                        <!-- Left Panel End -->

                        <div class="col-lg-9">
                            <div class="profile-content">
                                <h3 class="admin-heading">Send Money successfully</h3>
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link" href="">Send</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="">Details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="">Confirm</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="">Success</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                        <div class="bg-offwhite success form">
                                            <div class="text-center">
                                                <h1 class=""><i class="far fa-check-circle text-success"></i></h1>
                                                <h3 class="text-success">Success!</h3>
                                                <p class="">Transactions Complete</p>
                                                <p class="">You've successfully <b>$999</b> Send Money to <a href="#">demo@roysha.com</a></p>
                                                <p>See transaction details under <a href="#">Activity</a></p>
                                                <p>
                                                    <span class="name"><b>Transaction ID:</b></span>
                                                    <span class="decs">8974HSDB32056KSDS</span>
                                                </p>
                                                <hr />
                                                <div class="invoice-option text-center mt-2">
                                                    <a href="#" class="invoice-btn"><i class="far fa-file-pdf"></i>Save as PDF</a>
                                                    <a href="#" class="invoice-btn"><i class="fas fa-print"></i>Print Receipt</a>
                                                    <a href="#" class="invoice-btn"><i class="far fa-envelope"></i>Email Receipt</a>
                                                </div>
                                                <hr />
                                                <a href="deposit-money-success.html" class="btn btn-default mr-0 mt-5">
                                                    <span class="bh"></span>
                                                    <span>Send Money Again</span>
                                                </a>
                                                <a href="transactions-details.html" class="btn btn-default mr-0 mt-5">
                                                    <span class="bh"></span>
                                                    <span>Go to Summery</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content end -->
{% endblock content %}