{% extends 'dashboard_nav.html' %}

{% block content %}
    

            <!-- Profile bar -->
            <div class="profilebar">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="balance-area">
                                <select name="ctl00$ddlAccounts" class="custom-select" style="width: 200px">
                                    <option selected="selected" value="00">EUR Balance</option>
                                    <option value="01">GBP Balance</option>
                                    <option value="02">└ Prepaid Card - XXXX-2949</option>
                                    <option value="03">Prepaid Card - XXXX-9981</option>
                                    <option value="04" style="background-color: red; color: #fff">Prepaid Card - XXXX-6209</option>
                                </select>
                                <p class="total-blance">
                                    $9976.00
                                    <a href="#" class="reload-btn"><i class="fas fa-sync"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="local-time">
                                <p><b>Local Time:</b> 12:00PM</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="local-time">
                                <p><b>Last Visit:</b>1/12/2020 - 12:00PM</p>
                            </div>
                        </div>
                        <div class="col notify-col text-right">
                            <div class="notify-btn">
                                <a href="profile-notifications.html"><i class="far fa-bell"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Profile bar -->

            <!-- Content -->
            <div id="content" class="py-4">
                <div class="container">
                    <div class="row">
                       
                        {% include '_leftbar.html' %}

                        <div class="col-lg-9">
                            <div class="profile-content">
                                <h3 class="admin-heading">Request Money successfully</h3>
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Select Payer</a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link active" href=#">Success</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                        <div class="bg-offwhite success form">
                                            <div class="text-center">
                                                <h1 class=""><i class="far fa-check-circle text-success"></i></h1>
                                                <h3 class="text-success">Success!</h3>
                                                <p class="">Request Transactions Complete</p>
                                               
                                                <a href="{% url 'request_money' %}" class="btn btn-default mr-0 mt-5">
                                                    <span class="bh"></span>
                                                    <span>Request Money Again</span>
                                                    <i class="fas fa-chevron-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content end -->
{% endblock content %}