{% extends 'dashboard_nav.html' %}
{% load custom_filter %}
{% block content %}


<!-- Content -->
<div id="content" class="py-4">
    <div class="container">
        <div class="row">
            {% include '_leftbar.html' %}

            <div class="col-lg-9">
                <div class="profile-content">
                    <h3 class="admin-heading">Withdraw Money</h3>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="withdraw-money.html">Withdraw from</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="withdraw-money-balance.html">Balance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="withdraw-money-confirm.html">Confirm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="withdraw-money-success.html">Success</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <form id="withdraw-send-money" method="post" class="form bg-offwhite py-4">
                                {% csrf_token %}
                                <div class="Withdarw-header">
                                    <h3 class="text-5 msg-header">You are Withdraw money To</h3>
                                    <p class="text-4 text-center"><b>{{ bank_account }}</b></p>
                                    <hr />
                                    <p class="text-white"><b>Current Balance</b></p>
                                    <h3 class="av-balance">${{ online_account.balance|subtract:form.amount.value }}</h3>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="text-left"><b>Withdraw Amount</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="float-right">{{ form.amount.value }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="text-left"><b>Transactions fees </b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-right">
                                            <span class="bg-success free-charge">Free</span>
                                            <del>7.00 USD</del>
                                        </div>
                                    </div>
                                </div>



                                <ul class="pager mt-4">
                                    <li>
                                        <a href="{% url 'withdrawal_view' %}" class="btn btn-default mr-0">
                                            <span class="bh"></span>
                                            <i class="fas fa-chevron-left"></i>
                                            <span>Back</span>
                                        </a>
                                    </li>
                                    <li>
                                        <input type="hidden" name="amount" value="{{ form.amount.value }}">
                                        <input type="hidden" name="bank_account" value="{{ form.bank_account.value }}">
                                        <button type="submit" class="btn btn-default mr-0">
                                            <span class="bh"></span>
                                            <span>Withdraw Money</span>
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content end -->

{% endblock content %}